.copy_right_footer{
    position:fixed;
    color:white;
     bottom:0;
     width:100%;
     background-color:grey;
     text-align:center;
     line-height: 3 ;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px yellow;
}
.heading_div{
    float: none;
    background: pink;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 8px 8px 8px  red;
}
.heading_div2{
    font-size: 20px;

}